.cardContainer {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.Heather {
  width: 300px;
}

.Clarissa {
  width: 300px;
}

.Mark {
  width: 300px;
}

.Willem {
  width: 300px;
}