
/* .carousel {
  /* any dimensions are fine, it can be responsive with max-width */
  /* width: 700px;
  height: 500px; */
/*   object-fit: cover;
  object-position: center;
  height: 50vh
}
 */
/* make sure your .items will get correct height */
/* .carousel-inner {
  height: 100%;
} */

/* .countryAdd {
  margin-top: 15px;
} */

.carousel-inner > .item {
  position: relative;
  max-height: 600px;
}
.carousel-caption {
  position: absolute;
  top: 85%;
  transform: translateY(-50%);
}


.carousel .carousel-indicators li {
  background-color: gray;
}

.carousel .carousel-indicators li.active {
  background-color: var(--primary);
}

/* .addButton {
  width: max-content;
  margin-left: 10px;
} */
